<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <div id="app">
      <input
        type="text"
        v-model="searchWord"
        placeholder="검색어를 입력하세요"
      />
      <button @click="search">검색</button>

      <h1>여행지 관리</h1>
      <h1 v-if="searchResults">검색 결과</h1>
      <hr />

      <table v-if="!selectedTour && !searchResults">
        <thead>
          <tr>
            <td>title</td>
            <td>addr1</td>
            <td>firstImage</td>
            <td>firstImage2</td>
            <td>readcount</td>
            <td>sidoCode</td>
            <td>gugunCode</td>
            <td>latitude</td>
            <td>averageScore</td>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="(tour, index) in tourList"
            :key="index"
            @click="detail(tour.contentId)"
          >
            <td>{{tour.title}}</td>
            <td>{{tour.addr1}}</td>
            <td>{{tour.firstImage}}</td>
            <td>{{tour.firstImage2}}</td>
            <td>{{tour.readcount}}</td>
            <td>{{tour.sidoCode}}</td>
            <td>{{tour.gugunCode}}</td>
            <td>{{tour.latitude}}</td>
            <td>{{tour.averageScore}}</td>
          </tr>
        </tbody>
      </table>

      <table v-if="searchResults && !selectedTour">
        <thead>
          <tr>
            <td>title</td>
            <td>addr1</td>
            <td>firstImage</td>
            <td>firstImage2</td>
            <td>readcount</td>
            <td>sidoCode</td>
            <td>gugunCode</td>
            <td>latitude</td>
            <td>averageScore</td>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(tour, index) in searchResults"
            :key="index"
            @click="detail(tour.contentId)"
          >
            <td>{{tour.title}}</td>
            <td>{{tour.addr1}}</td>
            <td>{{tour.firstImage}}</td>
            <td>{{tour.firstImage2}}</td>
            <td>{{tour.readcount}}</td>
            <td>{{tour.sidoCode}}</td>
            <td>{{tour.gugunCode}}</td>
            <td>{{tour.latitude}}</td>
            <td>{{tour.averageScore}}</td>
          </tr>
        </tbody>
      </table>

      <table v-if="selectedTour">
        <thead>
          <tr>
            <td>title</td>
            <td>addr1</td>
            <td>firstImage</td>
            <td>firstImage2</td>
            <td>readcount</td>
            <td>sidoCode</td>
            <td>gugunCode</td>
            <td>latitude</td>
            <td>averageScore</td>
          </tr>
        </thead>

        <tbody>
          <td>{{selectedTour.title}}</td>
          <td>{{selectedTour.addr1}}</td>
          <td>{{selectedTour.firstImage}}</td>
          <td>{{selectedTour.firstImage2}}</td>
          <td>{{selectedTour.readcount}}</td>
          <td>{{selectedTour.sidoCode}}</td>
          <td>{{selectedTour.gugunCode}}</td>
          <td>{{selectedTour.latitude}}</td>
          <td>{{selectedTour.averageScore}}</td>
        </tbody>
      </table>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const tourList = ref([]);
          const selectedTour = ref(null);
          const searchResults = ref(null);
          const searchWord = ref("");

          // server로부터 data를 받아오는 함수
          const list = async () => {
            try {
              let response = await fetch(
                "http://localhost:8080/tours/recommends"
              );
              let data = await response.json();
              // 가져온 data가 위에서 선언해준 studentList에 넣어주면 된다.
              tourList.value = data;
            } catch (error) {
              console.error(error);
            }
          };

          const detail = async function (contentId) {
            try {
              let response = await fetch(
                `http://localhost:8080/tours/${contentId}`
              );
              let data = await response.json();
              // 가져온 상세 정보를 selectedTour에 저장
              selectedTour.value = data;
            } catch (error) {
              console.error(error);
            }
          };

          const search = async () => {
            console.log(searchWord);
            if (!searchWord.value) {
              alert("검색어를 입력하세요.");
              return;
            }
            try {
              let response = await fetch(
                `http://localhost:8080/tours/search?searchWord=${encodeURIComponent(
                  searchWord.value
                )}`
              );
              let data = await response.json();
              searchResults.value = data; // 검색 결과 저장
              selectedTour.value = null; // 상세 정보 초기화
            } catch (error) {
              console.error(error);
            }
          };

          list();

          return {
            tourList,
            detail,
            selectedTour,
            search,
            searchResults,
            searchWord,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
